{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>upload</title>
    <link rel="stylesheet" type="text/css" href="{%static 'app1/css/uploadcss.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static 'app1/css/uploadbase.css' %}">

     <link rel="stylesheet" type="text/css" href="{%static 'app1/css/bootstrap.min.css' %}">

     <link rel="stylesheet" type="text/css" href="{%static 'app1/css/font-awesome.css' %}">

     <link rel="stylesheet" href="{% static 'app1/css/templatemo-breezed.css' %}">

     <link rel="stylesheet" href="{%static 'app1/css/owl-carousel.css'%}">

     <link rel="stylesheet" href="{%static 'app1/css/lightbox.css' %}">

</head>
<body style="background-color:rgb(197, 239, 255)">
    <div id="co">
        <div id="mm">
            {%block content%}




            {%endblock content%}
        </div>
    </div>

<!-- ***** Footer Start ***** -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xs-12">

            </div>
            <div class="col-lg-6 col-xs-12">
                <div class="right-text-content">
                    <ul class="social-icons">
                        <li>
                            <p>Follow Us</p>
                        </li>
                        <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-facebook"></i></a></li>
                        <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-twitter"></i></a></li>
                        <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-linkedin"></i></a></li>
                        <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>