<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>success</title>
</head>

<body data-gr-c-s-loaded="true" style="background-color:rgb(197, 239, 255)">
    <h1 style="text-align: center">Thankyou for using our Resume Reader</h1>
    <h1 style="text-align: center">Data has been extracted successfully<br>
        Click on the link below to download the .csv file</h1>

  <div style=" text-align: center">
        <a href={{csvurl}}>{{csvurl}}</a>
    </div>

</body>

</html>