*{
    margin: 0;
    padding:0;

}

html,body{
    height: 100%;
}

#co
{
    min-height: 100%;
}

#main
{
    overflow: auto;
    padding-bottom: 60px;
}

#footer
{
    position: relative;
    clear: both;
}