@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -100px;
    margin-left: -100px;
    border-radius: 3px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: linear-gradient(to top right, rgb(0, 102, 255) 0%, rgb(105, 115, 255) 100%);
    color: #333;
    font-family: "Open Sans", Helvetica, sans-serif;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 260px;
    border-radius: 3px;
    box-shadow: 8px 10px 15px 0 rgba(0, 0, 0, 0.2);
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.title {
    width: 100%;
    height: 40px;
    text-align: center;
}

h1 {
    font-size: 16px;
    font-weight: 300;
    color: #666;
}

.dropzone {
    width: 100px;
    height: 80px;
    border: 1px dashed #999;
    border-radius: 3px;
    text-align: center;
}

.upload-icon {
    margin: 25px 2px 2px 2px;
}

.upload-input {
    position: relative;
    top: -62px;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    text-align: center;
}

.btn {
    display: block;
    width: 140px;
    height: 40px;
    background: rgb(35, 38, 49);
    color: #fff;
    border-radius: 3px;
    border: 0;
    box-shadow: 0 3px 0 0 rgb(48, 32, 40);
    transition: all 0.3s ease-in-out;
    font-size: 14px;
    text-align: center;
}

.btn:hover {
    background: rgb(101, 99, 104);
    box-shadow: 0 3px 0 0 rgba(255, 20, 145, 0);
    text-align: center;
}

